.overall-top-destination{
padding: 2rem;
}
@media screen and (max-width:21.875em) {
    .overall-top-destination{
        padding: 0px;
    }
}
.overall-top-destination h1{
text-align: center;
font-size: 3.5rem;
}
@media screen and (max-width:16.875em) {
    .overall-top-destination h1{
        font-size: 11vw;
    }
}